@import url('https://fonts.google.com/specimen/Spartan');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: Spartan ,Verdana, Geneva, Tahoma, sans-serif;

  p {
    line-height: 1.5;
  }
}

.container {
  padding: 0 20px;
  text-align: center;
  
  .head h1 {
    line-height: .8;
    width: 90%;
    font-size: 2.8em;
    font-weight: 700;
    color: rgb(80, 32, 80);
  }
  
  .head p {
    color: hsl(303, 10%, 53%);
    font-size: 1.3em;
  }

  .rates {
    margin-top: 30px;

    .rate {
      border-radius: 8px;
      background-color: rgb(247, 242, 247);
      margin-top: 10px;
      margin-bottom: 16px;

      //the icons
      .stars {
        padding-top: 15px;
        $img-size: 17px;
        img {
          width: $img-size;
          height: $img-size;
        }
      }

      P {
        font-size: 1.2em;
        font-weight: 600;
        color: hsl(300, 43%, 22%);
        margin: 0;
        padding-top: 3px;
        padding-bottom: 12px;
      }
    }
  }
}

.cards-container {
  margin-top: 45px;
  
  .card {
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    padding: 35px;
    margin-bottom: 20px;

    .card-top {
      display: flex;
      align-items: center;

      img {
        $img-size: 40px;
        
        display: inline-block;
        margin-right: 20px;
        border-radius: 50%;
        width: $img-size;
        height: $img-size;
        padding: 1px;
        background-color: rgba(255, 255, 255, 0.219);
      }

      .card-top-des {
        h2 {
          font-weight: 700;
          font-size: 1em;
          color: hsl(300, 24%, 96%);
          margin-bottom: 0;
        }
  
        h3 {
          font-weight: 400;
          font-size: 1em;
          color: hsl(333, 80%, 67%);
          margin-top: 3px;
        }
      }
    }

    q {
      margin-top: 18px;
      line-height: 1.6;
      display: inline-block;
      text-align: left;
      font-size: 1.1em;
      color:   hsl(0, 0%, 100%);
    }
  }
}

footer {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: hsl(300, 43%, 22%);
  font-size: .9em;
  color: hsl(0, 0%, 100%);

  a {
    color: hsl(333, 80%, 67%);
    text-decoration: none;
    font-size: .9em;
  }

  div {
    margin: 10px;
  }
}

// Mobile L
@media (min-width: 375px) {
  .container {
    max-width: 500px;
    margin: auto;
  }
}

//  Tablet
@media (min-width: 768px) {
  .container {
    $tablet-width: 640px;
    %margin-center {
      margin-left: auto;
      margin-right: auto;
    }

    max-width: 90%;

    .head h1 {
      @extend %margin-center;

      max-width: $tablet-width;
      line-height: 1.2;
      
    }

    .head p {
      @extend %margin-center;

      max-width: $tablet-width;
    }
  }
}

@media (min-width: 850px) {
  .container{
    %flex-style {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .rates {
      @extend %flex-style;

      .rate {
        $padding-rate: 13px;
        flex-basis: 45%;
        // padding-top: $padding-rate;
        // padding-bottom: $padding-rate;
      }

      .rate:last-of-type {
        flex-basis: 93%;
      }
    }

    .cards-container {
      @extend %flex-style;

      .card {
        flex-basis: 45%;
      }

      .card:last-of-type {
        flex-basis: 93%;
      }
    }
  }
}

//  laptop
@media (min-width: 1300px) {
  %flex-laptop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  body {
    padding-top: 100px;
  }
  .container {
    @extend %flex-laptop;
    padding: 40px;
    margin: 0 auto;
    text-align: left;
    max-width: 1300px;

    .head {
      flex-basis: 40%;

      h1 {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 5px;
      }
    }

    .rates {
      flex-basis: 55%;
      display: block;
      margin: 0;
      padding: 0;

      .rate {
        @extend %flex-laptop;
        align-items: center;
        justify-content: left;
        width: 85%;

        padding: 20px;

        .stars {
          padding-top: 0;
          margin-right: 20px;
        }

        p {
          padding: 0;
        }
      }

      .rate:nth-of-type(2) {
        transform: translateX(70px)
      }

      .rate:nth-of-type(3) {
        transform: translateX(140px)
      }
    }

    .cards-container {
      justify-content: space-between;
      flex-wrap: nowrap;

      .card {
        flex-basis: 40% !important;
      }

      $translateY: 20px;
      .card:nth-of-type(2) {
        transform: translate( $translateY , 30px);
      }

      .card:nth-of-type(3) {
        transform: translate( ($translateY * 2), 60px);
      }
    }
  }

}